<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title><%= title %></title>
        <link rel="stylesheet" href="tailwind.css" type="text/css" media="all">
    </head>
    <body>
        <div id="root"></div>
        <script src="index.js" charset="utf-8"></script>
        <script src="<%= baseUrl %>/socket.io/socket.io.js" charset="utf-8"></script>
        <script>
            const app = Elm.Main.init({
                node: document.getElementById("root")
            })

            // Socket.io client
            console.log("attempt to connect to websocket")
            let socket = io();
            

            // Connect Elm to/from WebSocket
            app.ports.sendMessage.subscribe((message) => {
                console.log("SEND TO SERVER", message)
                socket.emit("score", message)
            })
            socket.on("leaderboard", (leaderboard) => {
                console.log("RECV FROM SERVER", leaderboard)
                app.ports.messageReceiver.send(leaderboard)
            })
        </script>
    </body>
</html>
