.card {
    border-radius: 4px;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fffdd0;
    color: #333;

    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
